body,html {
margin: 0;
padding: 0;
}

.auto-fill-fit {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px,1fr));
    gap: 10px;
}
.item {
background-color: aqua;
padding: 20px;
text-align: center;
}

.repeat {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 10px;
}
.subgrid-germany {
    display: grid;
    grid-template-columns: repeat(3,1fr);
}
.berlin {
    display: grid;
    grid-template-columns: subgrid;
}
.west {
    background-color: rgb(70, 16, 133);
    padding: 20px;
    text-align: center; 
}
