.html,
body {
    margin: 0;
    padding: 0%;

}

#avatar {
    width: 150px;
    height: 250px;
    justify-content:center;

}
.container h2 {
    color: azure;
}

.container p {
    font-family:Georgia, 'Times New Roman', Times, serif;
    color: rgb(203, 203, 216);
}
.container{
    width: 400px;
    height: 400px;
background-color: rgb(13, 13, 14);
text-align: center;
}